// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

html, body {
  height: 100%;
}

.nav-bar{
  background-color:#f32230;
  padding: 1rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 1rem;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 30%;
}